<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main-content">
            {{>headers}}

            <p>This is a help message: {{msg}}</p>
        </div>
        {{>footers}}
    </body>
</html>