
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
        <script src="js/simple.js"></script>
    </head>
    <body>
        <div class="main-content">
            {{>headers}}
            <p>The address you entered is <strong>{{address}}</strong></p>
            <h2>{{msg}}</h2>
            <p>In this page you can get to know the weather.</p>
        </div>

        {{>footers}}
    </body>
</html>